spring:
  datasource:
    url: jdbc:h2:tcp://localhost:9123/~/logeyes
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  batch:
    jdbc:
      initialize-schema: always

logging:
  level:
    root: info
    com.logeyes: debug